@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@100;300;400&display=swap');
 * {
    font-family: 'Alfa Slab One', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
 }

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: aquamarine;
    }

    &::-webkit-scrollbar-thumb {
        background-color: aquamarine;
    }
}

body {
    background-color: rgb(226, 241, 241);
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: #66CDAA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 8%;
}

.navbar a {
    font-size: 1.8rem;
    color: azure;
    display: inline-block;
    margin: 0 1rem;

    &:hover {
        color: #483D8B;
    }
}

.logo {
    float: left;
    margin-right: 800px;
    border-radius: 50%;
    margin-left: 6px;
}

.differ {
    float: left;
    margin-left: -900px;
    margin-top: -14px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.9rem;
    color: #4169E1;
    border: black;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    margin-left: -10px;
    margin-top: -2px;

    &:hover {
        background-color: #00BFFF;
        color: #0a0a0a;
    }
}

/* About Us Section */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 9%;
    background-color: rgb(226, 241, 241);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-section {
    width: 50%;
}

.content-section .title h1 {
    font-size: 3.5rem;
    color: #2F4F4F;
    margin-bottom: 2rem;
}

.content-section .content p {
    font-size: 1.8rem;
    color: #696969;
    margin-bottom: 2rem;
}

.content-section .button a {
    font-size: 1.9rem;
    color: #4169E1;
    padding: 1rem 2rem;
    background-color: none;
    border-radius: 5rem;
    cursor: pointer;

    &:hover {
        background-color: #00BFFF;
        color: #0a0a0a;
    }
}

.social a {
    margin: 0 1rem;
    font-size: 2.5rem;
    color: #2F4F4F;
    transition: all 0.2s linear;

    &:hover {
        color: #00BFFF;
    }
}

.image-section {
    width: 40%;
}

.image-section img {
    width: 100%;
    border-radius: 2rem;
    height: auto;
}

footer {
    text-align: center;
    padding: 3.5rem;
    background-color: #66CDAA;
    color: white;
    font-size: 2rem;
}

/* Media Queries */
@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .section {
        flex-direction: column;
        padding: 3rem 2rem;
    }

    .content-section, .image-section {
        width: 100%;
        text-align: center;
    }
}
